body { color:  #2E2F42;
    background-color:  #E5E5E5;
    font-family: Roboto;
   
}
.list {
    list-style: none;
}
/* logo доробити */
.logo-web {
    color:#4D5AE5
}
.logo:hover {
    color:#404BBF; ;
}
.logo-studio{color: #2E2F42;
}
/* site-nav */
.site-nav .link{color: #2E2F42;

}
.site-nav .link:hover,
.site-nav .link:focus
 {
    color: #404BBF;
}
.auth-nav{

}
.section-title { color:#2E2F42;
}
/* 1 color: #2E2F42; */
    /* 2 color: #434455; */
    /* 3 color: #FFFFFF; */
    /* akcent color: #E7E9FC */
    /* color web color: #4D5AE5; color: #F4F4FD; color: #2E2F42; */
    /* backgr: background: #E5E5E5; */